:root{
    --admin-orange: #F2EFE7;
    --admin-white: #FFFFFF;
    --admin-light-blue: #9ACBD0;
    --admin-blue: #48A6A7;
    --admin-bold-blue: #006A71;
    --admin-bold-gray: #7D7D7D;
    --admin-light-gray: #D5D5D5;

}

.admin-page a{
    color: var(--admin-bold-blue);
    text-decoration: none   ;
}
.admin-page{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto;
}

.admin-page > *{
    width: 100%;
    height: 100%;
}

.admin-aside{
    grid-row: 1/3;
    display: flex
    ;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    position: relative;
    background: var(--admin-light-blue);
}
.admin-aside_btn{
    width: 2em;
    height: 2em;
    margin: 10px auto;
    cursor: pointer;
}
.admin-aside_btn.last{
    margin-top: auto;
}

.admin-bk{

}

.admin-aside_list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    background-color: var(--admin-light-blue);
    color: var(--admin-bold-blue);
    display: flex
    ;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    z-index: 1000;
}
.admin-aside_list-chat{
    width: 100%;
    height: 3.4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    /* background: var(--admin-white); */
    border-radius: .5em;
    width: 90%;
    margin: 0 auto;
}
.admin-aside_list-chat.last{
    margin-top: auto;
}
.admin-aside_chat-img{
    width: 2em;
    height: 2em;
    margin: 0 1em;
    margin: 0 1em 0 .4em;
}
.admin-aside_chat-text{
    font-size: 1em;
    font-weight: 600;
}


.admin-header{

}

.admin-work_space{
    grid-row: 2/3;
}


@media (min-width: 1000px) {
    .admin-page{

    }
}
@media (max-width: 1000px) {
    .admin-page{
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
    }
    .admin-aside{
        display: none;
    }
}
@media (max-width: 767px) {
    .admin-page{
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    .admin-page{
        font-size: 12px;
    }
}

