:root{
    --admin-orange: #F2EFE7;
    --admin-white: #FFFFFF;
    --admin-light-blue: #9ACBD0;
    --admin-blue: #48A6A7;
    --admin-bold-blue: #006A71;
    --admin-bold-gray: #7D7D7D;
    --admin-light-gray: #D5D5D5;

}

.admin-page{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto;
    background-color: var(--n-white);
}
.admin-page a{
    color: var(--n-green);
    border-color: var(--n-green);
    text-decoration: none   ;
}

.admin-page > *{
    width: 100%;
    height: 100%;
}

.admin-aside{
    grid-row: 1/3;
    display: flex
    ;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    position: relative;
    background: var(--light-gray);
}
.admin-aside_btn{
    width: 2em;
    height: 2em;
    margin: 10px auto;
    cursor: pointer;
    transition: .5s .5s all ease;
}

a.router-link-active  > .admin-aside_btn{
    background: var(--admin-white);
    /* margin-top: 1em; */
    border-radius: .2em;
    
}
.admin-aside_btn.last{
    margin-top: auto;
}

.admin-bk{

}

.admin-aside_list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    background-color: var(--light-gray);
    color: var(--admin-bold-blue);
    display: flex
    ;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    z-index: 1000;
}
.admin-aside_list-chat{
    width: 100%;
    height: 3.4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    /* background: var(--admin-white); */
    border-radius: .5em;
    width: 90%;
    margin: 0 auto;
}
.admin-aside_list-chat.last{
    margin-top: auto;
    margin-bottom: .5em;
}
a.router-link-active.admin-aside_list-chat{
    background: var(--n-white);
    /* margin-top: 1em; */
}
.admin-aside_chat-img{
    width: 2em;
    height: 2em;
    margin: 0 1em;
    margin: 0 1em 0 .4em;
}
.admin-aside_chat-text{
    font-size: 1em;
    font-weight: 600;
}

.admin-work_space{
    grid-row: 2/3;
    overflow-y : scroll; 
    overflow-x: hidden;
}


.admin-header{ 
    display: flex;
    align-items: center;
    background: var(--light-gray);
    padding: .5em;
    justify-content: flex-start;
}


.admin-menu-logo{
    margin-left: auto;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: none;
}
.admin-header-mobile-menu{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--admin-light-blue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
.admin-header-mobile-menu_box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3em;
}
.admin-header-mobile-menu_close{
    position: absolute;
    right: .5em;
    font-size: 2.5em;
    font-weight: bold;
    transform: rotate(-45deg);
    top: .5em;
    cursor: pointer;
}
.admin-header-mobile-menu_btn-box{
    background-color: var(--admin-orange);
    width: 15em;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .4em;
    cursor: pointer;
    font-size: 10px;
    margin: 1em;
}
.admin-header-mobile-menu_btn-box:last-of-type{
    margin-top: auto;
}
.admin-header-mobile-menu_btn-box-img{
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
}
.admin-header-mobile-menu_btn-box-label{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--admin-bold-blue);
    
}


/* ========== */ 
.admin-section-title{
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    color: var(--admin-bold-blue);
}
.admin-home{
    width: 100%;
    height: 100%;
}
.admin-fliter-box{
    width: 100%;
    height: 3em;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.admin-fliter-box-element{
    background: var(--n-white);
    padding: .2em .5em;
    border-radius: 5px;
    color: var(--n-green);
    margin: 0 .5em;
    font-size: .8em;
    font-weight: 600;
    border: 2px solid var(--n-green);
    cursor: pointer;
    list-style: none;
}
.active.admin-fliter-box-element,
a.router-link-active.admin-fliter-box-element{
    padding: .3em   .5em;
    background: var(--n-green);
    color: var(--admin-white);
    font-weight: bold;
    border: none;
}
.admin-charts-section{
    display: grid;
    grid-template-columns: 50% 50%;

}
.admin-charts-section > .col{
    width: 100%;
    height: auto;
}
.admin-charts-section > .col:first-of-type{

}
.admin-charts-section > .col:last-of-type{

}

.admin-chart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    justify-content: flex-start;
}
.admin-chart-title{
    color: var(--admin-bold-blue);
}
.admin-the-chart{
    width: 22em;
    height: 15em;
    background-color: var(--admin-white);
    margin: 1em auto;
    border-radius: .3em;
    display: flex
;
    justify-content: flex-start;
    overflow-x: scroll;
}
.chart-ruler{
    height: 100%;
    width: 1.3em;
    min-width: .9em;
    color: var(--admin-bold-blue);
    padding: .2em;
    padding-bottom: 1em;
    position: relative;
    border-left: 3px solid var(--admin-bold-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.chart-column{
    width: 3em;
    min-width: 2.3em;
    height: 100%;
    margin-left: .5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.chart-ruler-number{
    font-size: .8em;
}
.chart-column-the-column{
    width: 75%;
    background-color: var(--admin-light-blue);
    height: 60%;
    margin-top: auto;
    margin-bottom: .3em;
    border-radius: 5px;
}
.chart-column-label{
    margin-bottom: .3em;
    color: var(--admin-bold-blue);
    font-weight: bold;
    color: var(--admin-light-blue);
}
.chart-column-the-column.low{
    background: var(--admin-orange);
}
.chart-column-the-column.height{
    background: var(--admin-blue);
}
.chart-column-label.low{
    color: var(--admin-orange);
}
.chart-column-label.height{
    color: var(--admin-blue);
}




.admin-users-display{
    /* width: 100em; */
    /* height: 30em; */
}

.admin-user-card{
    background-color: var(--n-dark-white);
    margin: 0 auto;
    width: 90%;
    height: 5em;
    margin: 1em auto;
    border-radius: 10px;
    min-width: 20em;
    display: flex
    ;
    align-items: center;
    justify-content: flex-start;
    padding: .5em;
    position: relative;
}

.admin-user-card-check-box{
    border: none;
}

.admin-user-card-profile-pic{
    width: 3em;
    height: 3em;
    border-radius: 7px;
    margin: .5em;
}

.admin-user-card-user-info{

}

.admin-user-card-name{
    font-size: 1.2em;
    font-weight: bold;
}

.admin-user-card-rank{
    font-size: .8em;
    color: var(--n-black);
}

.admin-user-card-block{
    color: var(--n-black);
    font-size: .8em;
}

.admin-user-card-join-date{
    position: absolute;
    right: 0;
    top: 0%;
    font-size: .6em;
    margin: .5em;
    color: var(--admin-bold-gray);
}


.admin-user-card-menu-icon{
    width: 1em;
    height: 1em;
    position: absolute;
    right: -1%;
    bottom: 0;
    margin: .5em;
    cursor: pointer;
}

.admin-user-card-btn-box{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.4em;
    right: 0;
}

.admin-user-card-context-menu{
    position: absolute;
    background-color: var(--admin-white);
    min-width: 6em;
    min-height: 1em;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: .2em;
    text-align: center;
    z-index: 1500;
}

.admin-user-card-context-menu_element{
    background: var(--n-green);
    padding: .5em 1em;
    color: var(--admin-white);
    font-weight: bold;
    border-radius: .2em;
    font-size: .7em;
    margin: .2em 0;
    cursor: pointer;

}


.admin-user-card-context-menu_element:hover{
    background: var(--admin-bold-blue);
}
/* =================== */
.admin-product-display{
    display: flex
    ;
        flex-wrap: wrap;
        padding: 1em;
        align-items: center;
        justify-content:  space-around;
}
.admin-product-card{
    background-color: var(--n-dark-white);
    /* width: 11em;
    height: 15em; */
    /* padding: .3em; */
    margin: .6em .3em;
    width: 13em;
    border-radius: 5px;
    padding: .5em .3em;
}
.admin-product-card-img{
    /* width: 10em; */
    width: 12.4em;
    height: 8em;
}
.admin-product-card-user-name{
    font-size: .8em;
    font-weight: 500;
}
.admin-product-card-product-name{
    font-size: 1.2em;
    font-weight: bold;
    padding: .2em 0;
}
.admin-product-card-product-desc{
    font-size: .8em;
    font-weight: 500;
}
.admin-product-card-product-date{
    font-size: .6em;
    text-align: right;
    padding: .2em 0;
}






.admin-users{
    width: 100%;
    height: 100%;
}




/* =================== */
.admin-noti{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}
.admin-noti > .col{
    width: 100%;
    height: 100%;
}
.admin-noti-head-line{
    padding: .5em;
    font-weight: bold;
    color: var(--admin-bold-gray);
}
.admin-noti-prev-noti-box{
    width: 100%;
    min-height: 1em;
}

.admin-noti_col-one{
    overflow-y: scroll;
}
.admin-noti_col-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.admin-noti-input-box{
    background: var(--n-gray);
    border: none;
    outline: none;
    width: 22em;
    height: 14em;
    margin:1em auto ;
    resize: none;
    border-radius: 7px;
    padding: .5em;
}
.admin-noti-btn-box{
    width: 100%;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 23em;
    margin: 0 auto;
}
/* ================ */
.admin-notification-card{
    max-width: 25em;
    width: 95%;
    min-height: 5em;
    background-color: var(--n-dark-white);
    border-radius: 10px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em;
    position: relative;
}
.admin-notification-card-img{
    width: 4em;
    height: 4em;
    border-radius: 5px;
}

.admin-notification-card-name{
    padding: 0 .3em;
    font-size: 1.1em;
    color: var(--admin-blue);
}

.admin-notification-card-content{
    font-size: .7em;
    font-weight: 400;
    padding: .5em;
    width: 26em;
    min-height: 4.5em;
}
.admin-notification-card-date{
    position: absolute;
    top: 0;
    right: 0;
    font-size: .5em;
    font-weight: bold;
    color: var(--admin-light-gray);
    padding: 1em;
}

/* ================ */

.admin-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-info-img{
    width: 15em;
    height: 15em;
}
.admin-info-label{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--n-purple);
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .admin-page{

    }
}
@media (max-width: 1000px) {
    
}
@media (max-width: 767px) {
    .admin-page{
        font-size: 14px;
    }
    .admin-charts-section{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .admin-noti{
        grid-template-columns: 100%;
        grid-template-rows: minmax(25em,100%) 100%;
        font-size: 14px;
    }
    .admin-noti_col-one{
        
    }
    .admin-noti_col-two{
        grid-row: 1/2;
    }
    .admin-noti_col-one{
        overflow: initial;
    }
}
@media (max-width: 550px) {
    .admin-menu-logo{
        display: initial;
    }
    .admin-page{
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
        font-size: 12px;
    }
    .admin-aside{
        display: none;
    }
}

