:root{
    --admin-orange: #F2EFE7;
    --admin-white: #FFFFFF;
    --admin-light-blue: #9ACBD0;
    --admin-blue: #48A6A7;
    --admin-bold-blue: #006A71;
    --admin-bold-gray: #7D7D7D;
    --admin-light-gray: #D5D5D5;

}