.header-menu-enter-from{
    transform: translate(200%, 0%);
}
.header-menu-enter-active{
    transform: translate(160%,0%);
}
.header-menu-enter-to{
    transform: translate(0em,0%);
}
.header-menu-leave-from{
    transform: translate(0em,0%);
}
.header-menu-leave-active{
    transform: translate(160%,0%);
}
.header-menu-leave-to{
    transform: translate(200%, 0%);
}
.fade-enter-from{
    opacity: 0;
}
.fade-enter-active{
    opacity: .5;
    transition: 1s all;
}
.fade-enter-to{
    opacity: 1;
}
.fade-leave-from{
    opacity: 1;
}
.fade-leave-active{
    opacity: .5;
    transition: 1s all;
}
.fade-leave-to{
    opacity: 0;
}
/* ==================== */
.left-slide-enter-from{
    transform: translate(-200%,0);
}
.left-slide-enter-active{
    transform: translate(-200%,0);
    transition: 1s all;
}
.left-slide-enter-to{
    transform: translate(0%,0);
}
.left-slide-leave-from{
    transform: translate(0%,0);
}
.left-slide-leave-active{
    transition: 1s all;
}
.left-slide-leave-to{
    transform: translate(-200%,0);
}