:root{
    --solid-purple: #5D4155;
    --light-pink:#F8CDEB;
    --light-blue: #9ED3F6;
    --solid-pink: #D48DAB;
    --solid-pink: #D48DAB;
    --light-gray: #F2F2F2;
    --white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    --web-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --u-box-sizing: border-box;
    --o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#app{
    overflow: hidden;

}
.err-page-404{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.err-404_img{
    width: 20em;
    height: 15em;
}
.err-page-404 a{
    text-decoration: none;
}
i{
    width: 1.4em;
    height: 1.4em;
    display: grid;
    place-content: center;
    font-size: 1.7em;
    align-items: center;
    cursor: pointer;
}
.g-bk{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
}
.g-close-btn-for-mobile{
    position: absolute;
    top: .4em;
    right: 1em;
    transform: rotate(45deg);
    font-size: 1.7em;
    font-weight: bold;
    cursor: pointer;
    display: none;
    z-index: 10000;
}

.g-header-logo{
    /* font-size: 2em; */
    font-size: 1.6em;
    font-weight: bold;
    color: var(--solid-pink);
}

.page{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--white);
}

.page_container{
    margin: 0 auto;
    height: 100%;
    /* position: relative; */
}



.page-loader{ 
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--light-gray);
    opacity: 0.7;
    transform: translate(-50%,-50%);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.page-loader_l{
    width: 0.5em;
    height: 1.5em;
    background-color: var(--light-blue);
    margin: 0.1em;
    border-radius: 0.5em;
    
}
.page-loader_l.l1{
    animation: loader infinite .8s 0.1s;
}
.page-loader_l.l2{
    animation: loader infinite .8s 0.3s;
}
.page-loader_l.l3{
    animation: loader infinite .8s 0.5s;
}

.g-msg{
    position: absolute;
    right: 6em;
    bottom: 5em;
    background: var(--solid-purple);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 0.5em;
    font-weight: bold;
    z-index: 2000;
}


.g-home-page_header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--light-gray);
}

.g-home-page_body{
    /* width: 100%; */
    width: 100dvw;
    height: 100%;
    overflow-y: scroll;
}
.g-home-page_body.empty,
.content.empty{
    background-image: url('../assets/Vectors/Empty-cuate.png');
    /* background-size: 20em 17em; */
    background-size: 18em 17em;
    background-repeat: no-repeat;
    background-position: center;
}
.content.empty{
    min-height: 30em;
    
}

.g-search-box{
    padding: .2em;
    margin: 0 auto;
    position: relative;
}
.g-search-box_icon{
    display: none;
}
.g-search-box.mobile{
    display: none;
}
.g-search-box_input{
    padding: .5em .5em;
    border-radius: .5em;
    border: none;
    outline: none;
    width: 18em;
    height: 2.5em;
    /* background-color: var(--light-gray); */
    background: var(--white);
}
.g-search-box_predictable{
    width: 100%;
    min-height: 1em;
    background-color: var(--light-pink);
    position: absolute;
    border-radius: .7em;
    overflow-y: scroll;
    max-height: 14em;
    z-index: 1000;
}
.g-search-box-predictable_one{
    padding: .4em;
    font-weight: bold;
    border-radius: .3em;
    background-color: var(--light-gray);
    margin: .4em;
    cursor: pointer;
}

.g-menu-header{
    /* position: relative; */
}
.g-menu-header_notification-icon{
    position: relative;
}
.notification-icon_number-of-notification{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(27%, -17%) rotate(5deg);
    transform: translate(60%, -17%) rotate(5deg);
    font-size: 0.7em;
    background: var(--white);
    padding: .1em;
    border-radius: .3em;
    font-weight: 700;
    color: var(--solid-pink);
}
.g-menu-header_menu{
    width: 15em;
    height: calc(100dvh);
    background-color: var(--light-gray);
    position: absolute;
    position: fixed;
    top: 0%;
    right: 0;
    transform: translate(0, 0%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1em;
    z-index: 1000;
    transition: 1.3s all ;
}
.g-menu-header_icon{
    width: 2em;
    height: 2em;
    margin: 0.4em;
    cursor: pointer;
    
}
.g-bk-search-mobile{
    display: none;
}

.g-notification-menu{
    position: absolute;
    /* border: 0.1em solid ; */
    /* var(--solid-purple) */
    background: var(--white);
    box-shadow: 0px 2px 7px -2px var(--solid-purple);
    border: 1px solid var(--solid-purple);
    right: 10em;
    right: 7em;
    width: 20em;
    height: 22em;
    z-index: 1000;
    border-radius: .3em;
    overflow-y: scroll;
}

.g-notification{
    background: var(--light-gray);
    margin: .4em;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    padding: .6em;
    border-radius: .4em;
    cursor: pointer;
}
.g-notification.seen{
    font-weight: initial;
}

.bk-notfication{
    /* background-color: red; */
}

.g-bk-product{
    background: #f2f2f221;
}
.g-product-pop-up{
    background-color: var(--light-gray);
    /* width: 30em;
    height: 30em; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    /* max-width: 80%;
    max-height: 75%; */
    z-index: 1000;
    border: 1px solid var(--solid-pink);
    box-shadow: 0px 1px 5.1px 0px var(--solid-purple);
}
.g-product-pop-up_title{
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.g-product-pop-up_input-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--solid-purple);
    margin: 1em 0em;
    flex-wrap: wrap;
}

.g-product-pop-up_label{
    margin: 0.4em;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 2em;
}

.g-product_input{
    margin: 0 5.4em 0 auto;
    padding: 0.4em 0.5em;
    border-radius: 0.2em;
    border: none;
    outline: none;
}

.g-product-pop-up_input-box.desc{
    flex-direction: column;
}

.g-product-pop-up_input-box.desc .g-product-pop-up_label{
    margin-right: auto;
}
.g-product-pop-up_input-box.desc .g-product_input{
    width: 20em;
    /* height: 9em; */
    height: 6em;
    margin: 1em;
}

.g-product-pop-up_btn-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.3em;
    margin-bottom: 1em;
}
.g-product-pop-up_btn-box.err{
    justify-content: center;
}
.g-product-pop-up_err-text{
    font-size: .9em;
    color: var(--solid-pink);
    font-weight: bold;
    text-align: center;
}

.g-profile-body{
    color: var(--solid-purple);
    width: 100dvw;
    height: 100dvh;
    overflow-y: scroll;
}

.g-profile-page_user-details{
    width: 100%;
    height: 40em;
    max-height: 40%;
    position: relative;
    display: flex;
}

.g-profile-page_cover{ 
    width: 100%;
    /* height: 100%; */
    height: 70%;
    background-color: var(--solid-pink);
    border-radius: .5em;
}

.g-profile-page-profile_box{
    position: absolute;
    width: 10em;
    height: 10em;
    bottom: 1em;
    left: 1em;
}
.g-profile-page-profile-box_content{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.g-profile-page_profile-picture{
    width: 10em;
    height: 10em;
    border-radius: .8em;
    position: absolute;
    /* bottom: 1em;
    left: 1em; */
}
.g-profile-page-profile-picture_hover{
    position: absolute;
    /* top: 50%; */
    bottom: .5em;
    left: 50%;
    white-space: nowrap;
    padding: .1em .4em;
    background: var(--solid-pink);
    color: var(--white);
    font-weight: bold;
    border-radius: .4em;
    /* display: none; */
    opacity: 0;
    transition: .5s all;
    z-index: -1;
}
.g-profile-page-profile-box_content:hover .g-profile-page-profile-picture_hover{
    /* display: initial; */
    opacity: 1;
    z-index: 1000;
}
.g-profile-page_user-name{
    font-size: 1.6em;
    font-weight: bold;
    position: absolute;
    bottom: 1em;
    left: 7.5em;
}
.g-profile-page_filter-bar{
    width: 95%;
    overflow-x: scroll;
    height: 3em;
    background-color: var(--light-gray);
    margin: 1em auto;
    border-radius: .4em;
    box-shadow: 0px 0px 3px 0px var(--solid-purple);

    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

}
.g-profile-page_tab{
    padding: .3em 1em;
    background: var(--white);
    margin: .4em 1em;
    font-size: .9em;
    flex: 0 0 auto;
    font-weight: 600;
    border-radius: .3em;
    cursor: pointer;
    border: .2em solid var(--light-blue);
    display: grid;
    place-content: center;
}
.g-profile-page_tab.active{
    background: var(--light-blue);
    color: var(--white);
    border-color: transparent;
}


.g-profile-page_bio-box{
    width: 18em;
    min-height: 10em;
    margin: .6em auto;
    width: 40em;
    max-width: 80%;
    border-radius: 0.6em;
    background-color: var(--light-gray);
    padding: .4em;
    box-shadow: 1px 1px 6px 0px var(--solid-purple);

}

.g-profile-page_bio-headline{
    padding: .4em 1em;
    font-weight: bold;
    font-size: 1.1em;
}
.g-profile-page_bio-content{
    font-size: 0.9em;
    font-weight: bold;
    padding: .4em 1em;
    max-height: 50%;
    overflow: hidden;
}

.g-profile-box_btn-box{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin: 1em ;
    margin-left: auto;
}

.g-profile-page_product-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5em;
}
.g-profile-page_product-btc.sec{
    /* color: var(--light-blue); */
}
.g-profile-page_product-btc.main{
    /* background: var(--light-blue); */
}
.g-profile-page_product-salles{
    /* width: 100%; */
    /* height: 10em; */
    padding-bottom: 6em;

}

.g-profile-page_product-sell{
    width: 85%;
    height: 4em;
    margin: .4em auto;
    border-radius: .4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .4em 1em;
    background: var(--light-gray);
    box-shadow: 0  0 3px 0 var(--light-blue);
    margin-bottom: 1.4em;
}
.g-profile-page_label-product-sell{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0.5em;
}
.cart-order_menu-btn.prfoile{
    margin-left: auto;
    margin-right: .4em;
}



.g-inp-err{
    box-shadow: 0px 0px 10.5px 0.5px red;
}

/* width */
::-webkit-scrollbar {
    width: .2em;
    height: .2em;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--solid-pink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--solid-purple);
}

@keyframes loader {
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.page_container{
    width: 100%;
    width: 100dvw;
}
@media (min-width: 1000px) {
    
}
@media (max-width: 1000px) {
    
}
@media (max-width: 767px) {
    .g-msg{
        right: 50%;
        transform: translate(+50%,0);
    }
    .g-menu-header_menu{
        width: 100%;
    }
    .g-search-box{
        margin: 0 1em 0 auto;
    }
    .g-home-page_header{
        font-size: 13px;
    }
    .g-search-box .g-search-box_input,
    .g-search-box .auth-form_btn{
        display: none;
    }
    
    .g-search-box.mobile .g-search-box_input,
    .g-search-box.mobile .auth-form_btn{
        display: initial;
    }
    .g-search-box.mobile{
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    .g-bk-search-mobile{
        background-color: var(--light-gray);
        display: initial;
    }
    .g-close-btn-for-mobile{
        display: initial;
    }
    .g-search-box_icon{
        display: initial;
    }
    .g-profile-page_user-details{
        max-height: 35%;
    }
    .g-profile-page_profile-picture{
        left: 50%;
        transform: translate(-50%);
        font-size: 13px;
        bottom: 3em;
    }
    .g-profile-page_user-name{
        /* left: 50%;
        transform: translate(-50%); */
        font-size: 19px;
        bottom: .5em;
        left: 1em;
    }
    .g-product-pop-up{
        width: calc(100dvw );
        height: calc(100dvh );
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow-x: hidden;
    }
    .g-notification-menu{
        width: 100dvw;
        height: 100dvh;
        right: auto;
        left: 0;
        top: 0;
        border: 0;
    }
    .g-notification{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 550px) {
    #app{
        font-size: 13px;
    }
    .btn-box{
        font-size: 11px;
    }
    .user-cart_order{
        font-size: 10px;
    }
    .page_container{
        width: 100%;
    }
    
    .g-profile_cover {
        height: 48%;
    }
    .g-profile_pic{
        left: 50%;
        transform: translate(-50%,-50%);
        /* font-size: 13px; */
        height: 48%;
    }
}